.buyPageWrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.buyPage {
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  padding: 2rem 2rem 1rem 2rem;
  display: grid;
  grid-template-rows: 4fr 4fr 2fr 2fr;
  row-gap: 1rem;
  align-items: center;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.ownerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beatName {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.by {
  font-weight: 400;
  color: gray;
}

.ownerName {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
}

.priceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
}

.license {
  color: gray;
  text-align: center;
}

.license::first-letter {
  text-transform: uppercase;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
