.slogan {
  font-size: 2rem;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  color: var(--primary-color);
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 2rem;
}
