.userBeatsPageRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userBeatsPageColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease;
  width: 55vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-top: 4rem;
}

.header h1 {
  color: #0f4c75;
}
