:root {
  --primary-color: #0f4c75;
  --secondary-color: #3282b8;
  --background-color: #bbe1fa;
  --light-color: #f9f9f9;
  --dark-color: #1b262c;
}

p {
  color: var(--dark-color);
  font-weight: 200;
  font-size: 0.8rem;
}

h3 {
  color: var(--primary-color);
}

img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 3fr 15fr 3fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.card-container:hover {
  transform: scale(1.02);
  background-color: var(--background-color);
}

.card-container > :last-child {
  justify-self: start;
}

.cover-wrapper {
  display: flex;
  border-radius: 10px;

  border: 1px solid var(--primary-color);
}

#cover-image {
  width: 65px;
  height: 65px;
  object-fit: scale-down;
}

.beat-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  gap: 0.5rem;
}

.beat-title {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  gap: 1rem;
  margin-top: 0.25rem;
}

.hashtags {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.alt-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.play-button {
  cursor: pointer;
  font-size: 2rem;
  color: var(--primary-color);
}
