:root {
  --primary-color: #0f4c75;
  --secondary-color: #3282b8;
  --background-color: #bbe1fa;
  --light-color: #f9f9f9;
  --dark-color: #1b262c;
}

p {
  color: var(--dark-color);
  font-weight: 200;
  font-size: 0.8rem;
}

h3 {
  color: var(--primary-color);
}

img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 2fr 15fr;
  align-items: center;
  justify-items: center;
  width: 50%;
  padding: 1rem;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
}

.card-container > :last-child {
  justify-self: start;
}

.cover-wrapper {
  display: flex;
  border-radius: 10px;

  border: 1px solid var(--primary-color);
}

#cover-image {
  width: 65px;
  height: 65px;
  object-fit: scale-down;
}

.beat-info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  margin-top: 0.25rem;
}

.play-button {
  font-size: 2rem;
  color: var(--primary-color);
}
