.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

.navbar ul {
  list-style-type: none;
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  gap: 3rem;
}

.loginButtons {
  display: flex;
  gap: 0.75rem;
}

.signedUser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.signoutIcon {
  font-size: 1.5rem;
  cursor: pointer;
}

.roundedAvatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  object-fit: cover;
  cursor: pointer;
}
