:root {
  --primary-color: #0f4c75;
  --secondary-color: #3282b8;
  --background-color: #bbe1fa;
  --light-color: #f9f9f9;
  --dark-color: #1b262c;
}

ul {
  list-style-type: none;
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  gap: 3rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

.login-buttons {
  display: flex;
  gap: 0.75rem;
}

.signed-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.signout-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.rounded-avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  object-fit: cover;
  cursor: pointer;
}
