.searchbar {
  font-size: 14px;
  font-family: "Roboto Flex", sans-serif;
  color: #202124;
  display: flex;
  z-index: 3;
  height: 3em;
  background: white;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 8px;
  margin: 0 auto;
  width: 40em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.searchbarWrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbarLeft {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.searchIconWrapper {
  margin: auto;
}

.searchIcon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

.searchbarIcon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbarCenter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbarInputSpacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
  font-size: 16px;
}

.searchbarInput {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbarClearIcon {
  margin-right: 12px;
}
