@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --primary-color: #0f4c75;
  --secondary-color: #3282b8;
  --background-color: #bbe1fa;
  --light-color: #f9f9f9;
  --dark-color: #1b262c;
  --button-green: #3aa655;
}
